{% extends "layout.html" %}

{% block title %}{{db_name}} Query{% endblock %}

{% block top_javascript %}

<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

<script type="text/javascript">
$(function() {
    $('input[type=submit]').button();
    $("#select-collection" ).selectmenu();
    $('#results-table').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
  });
</script>
{% endblock %}

{%  block css %}
<link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='index.css') }}">
<link rel=stylesheet type=text/css
          href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link rel=stylesheet type=text/css
          href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">


{% endblock %}


{% block content %}
<h1>Query</h1>

<form action="/query" method="get" name="query">
<p>
<select name="collection" id="select-collection">
    {% for c in collections %}
    {% if c == active_collection %}
        <option value="{{c}}" selected="selected">{{c}}</option>
    {% else %}
        <option value="{{c}}">{{c}}</option>
    {% endif %}
    {% endfor %}
</select>
</p>
<p id="query">
<input type="text" name="search_string"
               placeholder="Type query..." size="50"
       value="{{search_string}}"></p>
<p>
<input type="submit" name="submit" value="Search">
</p>
</form>

{% if results %}

<h1>Results</h1>

<table id="results-table" class="display">
    <thead>
    <tr>
        {% for f in fields %}
        <th>{{f}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for r in results %}
    <tr>
        {% for f in fields %}
            {% if f == mapped_names[unique_key] %}
                <td class="centered">
                    <a href="/{{collection_name}}/doc/{{r[f]}}">{{r[f]|safe}}</a>
                </td>
            {% else %}
                <td class="centered">{{r[f]|safe}}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}

{% if error_message %}
<h2>{{ error_message }}</h2>
{% endif %}


{% endblock %}