{% extends "layout.html" %}

{% block title %}{{db_name}} Query{% endblock %}

{% block top_javascript %}
<script type="text/javascript">
$(function() {
    $('input[type=submit]').button();
    $("#select-collection" ).selectmenu();
    $('#results-table').DataTable();
  });
</script>
{% endblock %}

{%  block css %}
<link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='index.css') }}">
{% endblock %}


{% block content %}
<h1>Query</h1>

<form action="/query" method="get" name="query">
<p>
<select name="collection" id="select-collection">
    {% for c in collections %}
    {% if c == active_collection %}
        <option value="{{c}}" selected="selected">{{c}}</option>
    {% else %}
        <option value="{{c}}">{{c}}</option>
    {% endif %}
    {% endfor %}
</select>
</p>
<p id="query">
<input type="text" name="search_string"
               placeholder="Type query..." size="50"></p>
<p>
<input type="submit" name="submit" value="Search">
</p>
</form>

{% if results %}

<h1>Results</h1>

<table id="results-table" class="display">
    <thead>
    <tr>
        {% for f in fields %}
        <th>{{f}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for r in results %}
    <tr>
        {% for f in fields %}
            {% if f == unique_key %}
                <td class="centered">
                    <a href="/{{collection_name}}/doc/{{r[f]}}">{{r[f]}}</a>
                </td>
            {% else %}
                <td class="centered">{{r[f]}}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}

{% if error_message %}
<h2>{{ error_message }}</h2>
{% endif %}


{% endblock %}