{% extends "layout.html" %} {% block title %}{{ app_title }}{% endblock %}

{% block top_javascript %}
    <script type="text/javascript">
        $(function () {
            $('input[type=submit]').button();
            $(".select").selectmenu();
        });
    </script>
{% endblock %}

{% block css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='index.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='plot.css') }}">
{% endblock %}

{% block content %}
    <h1>Plot</h1>

    <form action="/plot" method="get" id="form-plot">
        <p id="query">
        <table>
            <tr>
                <td>
                    <label>Collection</label>
                </td>
                <td>
                    <select name="collection" class="select" id="select-collection">
                        {% for c in collections %} {% if c == active_collection %}
                            <option value="{{ c }}" selected="selected">{{ c }}</option>
                        {% else %}
                            <option value="{{ c }}">{{ c }}</option>
                        {% endif %} {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Plot type</label>
                </td>
                <td>
                    <select name="plot_type" class="select" id="select-plot_type">
                        {% if plot_type == "bar" %}
                            <option value="scatter">scatter</option>
                            <option value="bar" selected="selected">bar</option>
                        {% else %}
                            <option value="scatter" selected="selected">scatter</option>
                            <option value="bar">bar</option>
                        {% endif %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Filter</label>
                </td>
                <td>
                    <input type="text" name="search_string" id="input-search" placeholder="Type query..." size="30"
                           value="{{ search_string }}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>X-axis</label>
                </td>
                <td>
                    <input type="text" name="xaxis" id="input-xaxis" placeholder="E.g., year" size="30"
                           value="{{ xaxis }}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Y-axis</label>
                </td>
                <td>
                    <input type="text" name="yaxis" id="input-yaxis" placeholder="E.g., earnings" size="30"
                           value="{{ yaxis }}">
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <input type="checkbox" name="vehicle" id="checkbox-clear"
                           value="clear">Clear previous plot? (scatter only)<br>
                </td>

            </tr>

        </table>
        </p>
        <p>
            <input id="plot-button" type="submit" name="submit" value="Plot">
        </p>
    </form>

    <div id='plot-div' class='chart'></div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var graphs = {{graphJSON | safe}};
        Plotly.plot('plot-div', graphs, {});
    </script>

    {% if error_message %}
        <h2>{{ error_message }}</h2>
    {% endif %}

{% endblock %}
