{% extends "layout.html" %}

{% block title %}{{db_name}} Query{% endblock %}

{% block top_javascript %}

<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">
$(function() {
    $('input[type=submit]').button();
    $(".select" ).selectmenu();

    {% if data %}
        var i, data;
        data = {{ data|safe }};

        {% if plot_type == "scatter" %}
        $('#plot-div').highcharts({
            chart: {
                type: 'scatter',
                zoomType: 'xy',
                width: 800,
                height: 600
            },
            title: {
                text: ''
            },
            xAxis: {
                title: {
                    enabled: true,
                    text: '{{xaxis}}'
                }
            },
            yAxis: {
                title: {
                    text: '{{yaxis}}'
                }
            },
            plotOptions: {
            scatter: {
                marker: {
                    radius: 5
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                }
            }
        },
        series: [{
            name: 'Data',
            color: 'rgba(223, 83, 83, .8)',
            data: data
            }]
        });
        {% else %}
        var categories, y;
        categories = [];
        y = [];
        for (i = 0; i < data.length; i++){
            categories.push(data[i][0]);
            y.push(data[i][1]);
        }
        $('#plot-div').highcharts({
            chart: {
                width: 800,
                height: 600,
                type: 'column'
            },
            title: {
                text: ''
            },
            xAxis: {
                title: {
                    text: '{{ xaxis }}'
                },
                categories: categories,
                crosshair: true
            },
            yAxis: {
                title: {
                    text: '{{ yaxis }}'
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: '{{ yaxis }}',
                data: y
            }]
        });
        {% endif %}
    {% endif %}
  });
</script>
{% endblock %}

{%  block css %}
<link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='index.css') }}">
<link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='plot.css') }}">
{% endblock %}


{% block content %}
<h1>Plot</h1>

<form action="/plot" method="get" name="plot">
    <p id="query">
        <table>
        <tr>
            <td><label>Collection</label></td>
            <td><select name="collection" class="select">
            {% for c in collections %}
            {% if c == active_collection %}
                <option value="{{c}}" selected="selected">{{c}}</option>
            {% else %}
                <option value="{{c}}">{{c}}</option>
            {% endif %}
            {% endfor %}
        </select>
            </td>
        </tr>
        <tr>
            <td><label>Plot type</label></td>
            <td>
                <select name="plot_type" class="select">
                    <option value="scatter" selected="selected">scatter</option>
                    <option value="bar">bar</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Filter</label></td>
            <td><input type="text" name="search_string"
                       placeholder="Type query..." size="30"
                       value="{{search_string|safe}}">
            </td>
        </tr>
        <tr>
            <td><label>X-axis</label></td>
            <td><input type="text" name="xaxis"
                       placeholder="E.g., year" size="30"
                       value="{{xaxis}}">
            </td>
        </tr>
        <tr>
            <td><label>Y-axis</label></td>
            <td><input type="text" name="yaxis"
                       placeholder="E.g., earnings" size="30"
                       value="{{yaxis}}">
            </td>
        </tr>
        </table>
    </p>
    <p>
        <input type="submit" name="submit" value="Plot">
    </p>
</form>

<div id="plot-div"></div>

{% if error_message %}
<h2>{{ error_message }}</h2>
{% endif %}


{% endblock %}